			<nav>
				<!-- 
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

				<ul id="aikavahti_mainmenu">
					<li class="aikavahtilink" data-type="front-route">
						<a><i class="fa fa-lg fa-fw fa-dashboard txt-color-white"></i> <span class="menu-item-parent">Reaaliaikanäkymä</span></a>	
					</li>
					<li class="aikavahtilink">
						<a><i class="fa fa-lg fa-fw fa-calendar txt-color-blue"></i> <span class="menu-item-parent">Tilastot</span></a>
						<ul>
							<li class="aikavahtilink" data-type="stats-route" data-payload="today">
								<a>Tänään</a>
							</li>
							<li class="aikavahtilink" data-type="stats-route" data-payload="week">
								<a>Kuluva viikko</a>
							</li>
							<li class="aikavahtilink" data-type="stats-route" data-payload="month">
								<a>Kuluva kuukausi</a>
							</li>	
							<li class="aikavahtilink" data-type="stats-route" data-payload="year"> 
								<a>Kuluva vuosi</a>
							</li>		
							<li class="aikavahtilink" data-type="timeline-route" data-payload="">
								<a>Timeline</a>
							</li>							
							<li class="aikavahtilink">
								<a><i class="fa fa-lg fa-fw fa-bar-chart-o txt-color-yellow"></i> <span class="menu-item-parent">Vertailut</span></a>
								<ul>
									<li class="aikavahtilink" data-type="comparisons-route" data-payload="week">
										<a>Viikkovertailu</a>
									</li>
									<li class="aikavahtilink" data-type="comparisons-route" data-payload="month">
										<a>Kuukausivertailu</a>
									</li>																			
								</ul>
							</li>																		
						</ul>
					</li>
					<li class="aikavahtilink" data-type="schemaviewer-route">
						<a><i class="fa fa-lg fa-fw fa-sitemap txt-color-blue"></i> <span class="menu-item-parent">Aktiviteetit</span></a>
					</li>
					<li class="aikavahtilink" data-type="signals-route">
						<a><i class="fa fa-lg fa-fw fa-flash txt-color-blue"></i> <span class="menu-item-parent">Signaalit</span></a>
					</li>							
					<li class="aikavahtilink" data-type="settings-route">
						<a><i class="fa fa-lg fa-fw fa-wrench txt-color-blue"></i> <span class="menu-item-parent">Asetukset</span></a>
					</li>									
					<li class="aikavahtilink">
						<a><i class="fa fa-lg fa-fw fa-user txt-color-blue"></i> <span class="menu-item-parent">Hallinnoi</span></a>
						<ul>
							<li class="aikavahtilink" data-type="manage-route">
								<a>Muokkaa aikajanaa</a>
							</li>
							<li class="aikavahtilink" data-type="import-route">
								<a>Tuo / Vie</a>
							</li>	
							<li class="aikavahtilink" data-type="restore">
								<a>Palautuspisteet</a>
							</li>					
							<li class="aikavahtilink" data-type="resetrequest">
								<a>Resetoi ohjelma</a>
							</li>
						</ul>						
					</li>
					
					<li style="padding: 0px; margin-top: 6px; margin-right: 6px; float: right; width: 162px; height: 56px;">
							<div>
							<div class="well well-sm well-light" style="height: 56px; margin: 0;">
						
											<p id="statscomputationtext" style="font-size: 10px;">Tilastot valmiina!</p> <div style="position: absolute; top: 4px; right: 8px;"><button data-type="forceflush" class="btn btn-xs btn-warning" style="heigth: 12px; width: 38px; font-size: 9px;">Päivitä</button></div>
											<br>
											<div style="margin-top: -2px;" class="progress progress-striped active" data-placement="left">
												<div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%" id="computeprogressbar">55 %</div>
											</div>
										
						
									</div>
									</div>


					</li>
					<li style="padding: 0px; margin-top: 6px; margin-right: 6px; float: right; height: 56px;">

						<div>
							<div id="frontshowpanel" class="well well-sm" style="height: 56px; margin: 0; background-color: #554455; border: 0px;">
							<p id="currentactivityfrontname" style="text-align: right; font-size: 9px;">---</p>
							<br>
							<h1 style="text-align: center; margin-top: -12px;" id="currentactivityfront_duration">---</h1>
							</div>
						</div>
					</li>





				</ul>
			</nav>

																		

								