			<nav>
				<!-- 
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

				<ul>
					<li data-type="front-route">
						<a><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Front Page</span></a>	
					</li>
					<li data-type="admin-route">
						<a><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Admin page</span></a>
					</li>
					<li data-type="schemaviewer-route">
						<a><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Schema</span></a>
					</li>	
					<li data-type="settings-route">
						<a><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Settings</span></a>
					</li>									
					<li data-type="help-route">
						<a><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Help page</span></a>
					</li>

					<li>
									
									<div class="widget-toolbar" style="width: 100%;"> 
											
											<div class="progress progress-striped active" rel="tooltip" data-original-title="55%" data-placement="left">
												<div class="progress-bar progress-bar-success" role="progressbar" style="width: 55%" id="computeprogressbar">55 %</div>
											</div>
										
									</div>
					</li>		
				</ul>
			</nav>