			<nav>
				<!-- 
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

				<ul>
					<li data-type="front-route">
						<a><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Reaaliaikanäkymä</span></a>	
					</li>
					<li data-type="admin-route">
						<a><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Tilastot</span></a>
					</li>
					<li data-type="schemaviewer-route">
						<a><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Skeema</span></a>
					</li>	
					<li data-type="settings-route">
						<a><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Asetukset</span></a>
					</li>									
					<li>
						<a><i class="fa fa-lg fa-fw fa-cube txt-color-blue"></i> <span class="menu-item-parent">Hallinnoi</span></a>
						<ul>
							<li data-type="manage-route">
								<a>Poista aikajanalta</a>
							</li>
							<li data-type="addtotimeline-route">
								<a>Lisää aikajanalle</a>
							</li>
							<li data-type="csvexport-route">
								<a>Lataa CSV-tiedostona</a>
							</li>
							<li data-type="othermanage-route">
								<a>Muu hallinnointi</a>
							</li>
						</ul>						
					</li>
					<li>
						<a href="#"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i> <span class="menu-item-parent">Forms</span></a>
						<ul>
							<li>
								<a>Smart Form Elements</a>
							</li>
							<li>
								<a href="form-templates.html">Smart Form Layouts</a>
							</li>
							<li>
								<a href="validation.html">Smart Form Validation</a>
							</li>
							<li>
								<a href="bootstrap-forms.html">Bootstrap Form Elements</a>
							</li>
							<li>
								<a href="bootstrap-validator.html">Bootstrap Form Validation</a>
							</li>
							<li>
								<a href="plugins.html">Form Plugins</a>
							</li>
							<li>
								<a href="wizard.html">Wizards</a>
							</li>
							<li>
								<a href="other-editors.html">Bootstrap Editors</a>
							</li>
							<li>
								<a href="dropzone.html">Dropzone</a>
							</li>
							<li>
								<a href="image-editor.html">Image Cropping</a>
							</li>
							<li>
								<a href="ckeditor.html">CK Editor</a>
							</li>
						</ul>
					</li>
					<li>
									
									<div class="widget-toolbar" style="width: 100%;"> 
											
											<div class="progress progress-striped active" rel="tooltip" data-original-title="55%" data-placement="left">
												<div class="progress-bar progress-bar-success" role="progressbar" style="width: 55%" id="computeprogressbar">55 %</div>
											</div>
										
									</div>
									<hr>
									<h3>Testing stuff</h3>
									<button data-type="forceflush">Flush</button>
					</li>



				</ul>
			</nav>