<div>
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">

								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Viikkotaulukko</h2>	
								<div class="label" style="margin: 8px; background-color: #568A89; float: right">= Itsenäinen</div>										
									<div class="label" style="margin: 8px; background-color: #9D5353; float: right">= Ryhmä</div>
	

								</header>

	
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body" style="overflow: auto;">
										<p>Viikottainen kokonaisaika per aktiviteetti</p>
										<p style="font-size: 10px; color: red">HUOM! Ryhmäaktiviteetin kokonaisaika = jälkeläisten kokonaisajat + oma kokonaisaika.</p>
										
										<div class="table" style="font-size: 11px;">
										
											<table class="table table-bordered">
												<thead id="comparisons_table_head">

												</thead>
												<tbody id="comparisons_table_body">

												</tbody>
											</table>
											
										</div>

										<hr>


									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->


							</div>

</div>