<div>
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">

								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Signaalit</h2>										
								</header>

	
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body">
										<p>Voit oikean laidan painikkeita käyttämällä lisätä ja poistaa aktiviteetteja
										aikajanallesi. </p>
										
										<div class="table-responsive">
										
											<table class="table table-bordered">
												<thead id="comparisons_table_head">

												</thead>
												<tbody id="comparisons_table_body">

												</tbody>
											</table>
											
										</div>

										<hr>


									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->


							</div>

</div>