<div>
<div class="row">
<section id="widget-grid" class="">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

								<div class="jarviswidget well" style="background-color: #66feca;" id="wid-id-3" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-comments"></i> </span>
									<h2>Default Tabs with border </h2>
				
								</header>
				
								<!-- widget div-->
								<div>
				
									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->
				
									</div>
									<!-- end widget edit box -->
				
									<!-- widget content -->
									<div class="widget-body" id="currentevent_wrapper">
				
										<p>
											 Aloitettu: <span id="currentevent_started" style="font-weight: bold;">---</span> <span style="float: right;">Kesto: <span id="currentevent_duration" style="font-weight: bold;"> 6 tuntia 25 minuuttia 13 sekuntia </span></span>
										</p>
										<hr class="simple">
				
										<div id="myTabContent1" class="tab-content">
											<div class="well well-lg" id="currentevent_panel" style="background-color: #66feca;">
												<h1 id="currentevent_name" style="text-align: center;">Tennis</h1>
											</div>
											<hr>
											<button id="addnotes" data-type="addnotes" data-payload="current" class="btn btn-default" data-toggle="modal" data-target="#notesModal">Kirjoita muistiinpano</button>

										</div>
				
									</div>
									<!-- end widget content -->
				
								</div>
								<!-- end widget div -->
				</div>
		</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
									<h2>Aloita uusi aktiviteetti!</h2>
									<button id="showall_b" class="btn dropdown-toggle btn-xs btn-default" style="float: right; margin: 4px;" data-type="newactivity_showall">
												Kaikki
											</button>
									<button id="showleaves_b" class="btn dropdown-toggle btn-xs btn-default" style="float: right; margin: 4px;" data-type="newactivity_showleaves">
												Itsenäiset
											</button>
								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body" id="newactivity_buttons">

										<button href="javascript:void(0);" class="btn">Default</button>

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
	</div>

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
								<!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"

								-->
								<header>
									<span class="widget-icon"> <i class="fa fa-hand-o-up"></i> </span>
									<h2>Lisää signaali aikajanalle!</h2>
								</header>

								<!-- widget div-->
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body" id="newsignal_buttons">

										

									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>
	</div>	

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

						<div class="well well-sm" id="lastten_wrapper">
							<form>
								<fieldset>
									<legend>
										Viimeiset 10 aktiviteettia tänään
									</legend>
									<ul id='external-events' class="list-unstyled">
										<li>
											<span class="bg-color-darken txt-color-white" data-description="11.09 - 12.45" data-icon="fa-time">Uinti</span>
										</li>
										<li>
											<span class="bg-color-blue txt-color-white" data-description="12.45 - 12.58" data-icon="fa-pie">Lounastauko</span>
										</li>
										<li>
											<span class="bg-color-red txt-color-white" data-description="12-58 - 16.10" data-icon="fa-alert">Koodaus</span>
										</li>
									</ul>
								</fieldset>
							</form>
				
						</div>


	</div>

		</section>
</div>	

				<!-- end widget grid -->

				<div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="notes_modal_title"></h4>
							</div>
							<div class="modal-body" id="notes_body">
									<div class="widget-body no-padding">


										
										<form id="settings-form" class="smart-form" novalidate="novalidate">
	
											<fieldset>
												<div class="row">
													
													<section class="col">
										
													<label class="label">Kirjoita muistiinpano alle (max. 512 merkkiä)</label>
													<label class="textarea">	
													<textarea id="notearea" data-eventtimestamp="0" class="custom-scroll" rows="4" style="font-size: 12px;"></textarea>							
													</label>
	
													</section>
												</div>


											</fieldset>							

	
										</form>
									</div>
							<div class="modal-footer">
								<button type="button" data-type="savenotes" class="btn btn-primary" data-dismiss="modal">
									Tallenna
								</button>								
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Peruuta
								</button>
							</div>

						</div>
					</div>
				</div>
				</div>	


				<div class="modal fade" id="quickNoteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">

							<div class="modal-body">
									<div class="widget-body">
									<div class="row">
													
										<section class="col">
											<p id="quickNoteModal_text" style="margin-left: 16px;"></p>
										</section>
									</div>
									</div>
							<div class="modal-footer">						
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Sulje
								</button>
							</div>

						</div>
					</div>
				</div>
				</div>	

</div>				