<div>
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">

								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Skeema</h2>										
								</header>

	
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body">
										<p>Voit oikean laidan painikkeita käyttämällä lisätä ja poistaa aktiviteetteja
										aikajanallesi. </p>
										
										<div class="table-responsive">
										
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Aktiviteetti</th>
														<th>Lisää aliryhmä</th>
														<th>Muokkaa</th>
													</tr>
												</thead>
												<tbody id="schematable_body">

												</tbody>
											</table>
											
										</div>

										<hr>


									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->


							</div>


			<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
					
					data-widget-colorbutton="false"	
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true" 
					data-widget-sortable="false"
					
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Koko skeemaa koskevat asetukset</h2>				
					
				</header>

				<!-- widget div-->
				<div>
					
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
						
					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<form id="settings-form" class="smart-form" novalidate="novalidate">
							<header>
								Värimaailma
							</header>


							<fieldset>
							<div class="form-group">
								<button type="button" data-type="recolorschema" class="btn btn-danger">
									Uudelleenväritä skeema
								</button>								
							</div>

							</fieldset>

							<footer>

							</footer>
			
						</form>
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>


				<!-- end widget grid -->
</div>				