<div>
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">

								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Skeema</h2>										
								</header>

	
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body">
										<p>Voit oikean laidan painikkeita käyttämällä lisätä ja poistaa aktiviteetteja
										aikajanallesi. </p>
										
										<div class="table-responsive">
										
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Aktiviteetti</th>
														<th>Lisää aliryhmä</th>
														<th>Muokkaa</th>
														<th>Poista</th>
													</tr>
												</thead>
												<tbody id="schematable_body">

												</tbody>
											</table>
											
										</div>

										<hr>


									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->


							</div>


			<div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false" data-widget-custombutton="false">
				<!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
					
					data-widget-colorbutton="false"	
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true" 
					data-widget-sortable="false"
					
				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
					<h2>Koko skeemaa koskevat asetukset</h2>				
					
				</header>

				<!-- widget div-->
				<div>
					
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">
						<!-- This area used as dropdown edit box -->
						
					</div>
					<!-- end widget edit box -->
					
					<!-- widget content -->
					<div class="widget-body no-padding">
						
						<form id="settings-form" class="smart-form" novalidate="novalidate">
							<header>
								Värimaailma
							</header>


							<fieldset>
							<div class="form-group">
								<button type="button" data-type="recolorschema" class="btn btn-danger">
									Uudelleenväritä skeema
								</button>								
							</div>

							</fieldset>

							<footer>

							</footer>
			
						</form>
					</div>
					<!-- end widget content -->
					
				</div>
				<!-- end widget div -->
				
			</div>

			<div class="modal fade" id="schemaItemModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="individual_stats_title"></h4>
								
							</div>
							<div class="modal-body" id="schemaItemModalBody">
								<div class="widget-body no-padding">
									
									<form id="settings-form" class="smart-form" novalidate="novalidate">
										<header>
											Valitse väri
										</header>


										<fieldset>
										<div class="form-group">
											<input type="text" id="pickschemecolor">							
										</div>

										</fieldset>

						
									</form>
								</div>
							<div class="modal-footer">
								<button id="saveSchemaItemChanges" class='btn btn-success' data-dismiss="modal" data-type="saveSchemaItemChanges" data-payload="">Tallenna</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">
									Sulje tallentamatta
								</button>
							</div>

						</div>
					</div>
				</div>
				</div>



				<!-- end widget grid -->
</div>	


<script>
$(function() {
	$("#pickschemecolor").spectrum({
    	color: "#f00"
	});
});

</script>			