<div>
							<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-editbutton="false">

								<header>
									<span class="widget-icon"> <i class="fa fa-table"></i> </span>
									<h2>Ajankäytön jakauma</h2>
									<button class="btn dropdown-toggle btn-xs btn-primary" style="float: right; margin: 4px;" data-type="activities_showall">
												Kaikki
											</button>
									<button class="btn dropdown-toggle btn-xs btn-warning" style="float: right; margin: 4px;" data-type="activities_showleaves">
												Vain alin taso
											</button>
									<button class="btn dropdown-toggle btn-xs btn-success" style="float: right; margin: 4px;" data-type="activities_showroots">
												Vain ylin taso
											</button>											
								</header>

	
								<div>

									<!-- widget edit box -->
									<div class="jarviswidget-editbox">
										<!-- This area used as dropdown edit box -->

									</div>
									<!-- end widget edit box -->

									<!-- widget content -->
									<div class="widget-body">
										<p>Voit oikean laidan painikkeita käyttämällä lisätä ja poistaa aktiviteetteja
										aikajanallesi. </p>
										
										<div class="table-responsive">
										
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Aktiviteetti</th>
														<th>Kokonaisaika</th>
													</tr>
												</thead>
												<tbody id="statstable_body">

												</tbody>
											</table>
											
										</div>
									</div>
									<!-- end widget content -->

								</div>
								<!-- end widget div -->

							</div>

				<div class="modal fade" id="individualStatsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
									&times;
								</button>
								<h4 class="modal-title" id="individual_stats_title"></h4>
							</div>
							<div class="modal-body" id="individual_stats_body">
									<div class="widget-body">
										<p id="individual_stats_subtitle"> </p>
										
										<div class="table-responsive">
										
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Päivä</th>
														<th>Kokonaisaika</th>
														<th>Visualisointi</th>
													</tr>
												</thead>
												<tbody id="individual_statstable_body">

												</tbody>
											</table>
											
										</div>
									</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">
									Sulje
								</button>
							</div>

						</div>
					</div>
				</div>

</div>


<script>

$("#sparkline").sparkline([5,6,7,9,9,5,3,2,2,4,6,7], {
    type: 'line'});

</script>
			
		